hapiclient>=0.2.2
kamodo
git+https://github.com/nasa/Kamodo.git
plasmapy
pysat>=3.0.0
pyspedas
spacepy
sunpy>=4.1.0,!=3.1.0
aacgmv2>=2.6.2
aiapy
aidapy
apexpy
astrometry-azel
cdflib>=0.4.3
dascutils
dbprocessing
dmsp
enlilviz
fiasco
georinex
geospacelab
goesutils
hissw
igrf
iri2016
# iri90
irispy-lmsal
lowtran
mcalf
msise00
ndcube>=2.0.1
nexradutils
ocbpy
OMMBV
pydarn
pyflct
pytplot-mpl-temp>=2.1.37
pyzenodo3
reesaurora
sciencedates
solarmach
solo-epd-loader
speasy
spiceypy
sunkit-image
sunkit-instruments
sunraster>=0.3.0,<0.4.0
themisasi
viresclient
wmm2015
wmm2020
